# Estadísticas de datos con Pandas

Semana Tec

Profesores: José Ignacio Treviño / Luz Eunice Angeles

In [1]:
# Si trabajamos en Google Colaboratory corremos las siguientes lineas de código
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [2]:
# Nos cambiamos a la carpeta donde tengamos el repositorio
%cd /gdrive/MyDrive/SemanaTec/arte-analitica

/gdrive/MyDrive/SemanaTec/arte-analitica

## Importar el dataset

* Vamos a importar una tabla de datos de información de un banco con respecto a créditos.

In [3]:
import numpy as np
import pandas as pd

# Importar los datos
credit = pd.read_csv('data/Credit.csv')

Las variables a considerar son las siguientes:
  * ID: identificador
  * Income: ingreso en miles de dólares
  * Limit: límite de crédito
  * Rating: calificación crediticia
  * Cards: número de tarjetas de crédito
  * Age: edad en años
  * Education: número de años de educación
  * Gender: male/female
  * Married: Yes/No. Indicador si la persona está casada.
  * Ethnicity: African American/Asian/Caucasian
  * Balance: Balance promedio en la tarjeta de crédito.

## Métodos y atributos de los datasets

* `shape`: Nos da las dimensiones (renglones y columnas) de la tabla.

In [4]:
# Imprimir las dimensiones del DF. Atributo
credit.shape

(400, 12)

* `columns`: Regresa el nombre de las columnas.

In [5]:
# Imprimir las columnas del DF. Atributo
credit.columns

Index(['Unnamed: 0', 'Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education',
       'Gender', 'Student', 'Married', 'Ethnicity', 'Balance'],
      dtype='object')

* `info()`: Nos permite ver el tipo de dato que hay en cada columna.

In [6]:
# Revisar el tipo de dato de cada columna. Método
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  400 non-null    int64
 1   Income      400 non-null    float64
 2   Limit       400 non-null    int64
 3   Rating      400 non-null    int64
 4   Cards       400 non-null    int64
 5   Age         400 non-null    int64
 6   Education   400 non-null    int64
 7   Gender      400 non-null    object
 8   Student     400 non-null    object
 9   Married     400 non-null    object
 10  Ethnicity   400 non-null    object
 11  Balance     400 non-null    int64
dtypes: float64(1), int64(7), object(4)
memory usage: 37.6+ KB

* `head()`: Selecciona los primeros n renglones de la tabla.

In [7]:
# Muestra las primeras 4 líneas de la tabla
credit.head(4)

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964

* `head()`: Selecciona los últimos n renglones de la tabla.

In [8]:
# Muestra las últimas 6 líneas de la tabla
credit.tail(6)

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
394,395,49.794,5758,410,4,40,8,Male,No,No,Caucasian,734
395,396,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
396,397,13.364,3838,296,5,65,17,Male,No,No,African American,480
397,398,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
398,399,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0
399,400,18.701,5524,415,5,64,7,Female,No,No,Asian,966

La primera columna al parecer es un indicador del número de renglón, y además no tiene nombre (por eso aparece como Unnamed). Podemos eliminarla con el método `.drop()`

In [9]:
# Al usar el mismo nombre de variable, la estamos sobreescribiendo.
# Perderemos la primera columna. Si queremos conservarla, podemos usar otro nombre de variable.
credit = credit.drop('Unnamed: 0', axis=1)

## Estadísticas de variables numéricas

* `describe()`: Regresa un resumen estadístico de las columnas numéricas. Estos estadísticos son las *medidas* de **tendencia central** y de **dispersión**.

  * Las medidas de tendencia central nos dicen el valor central o promedio de una distribución de datos. Son la **media** y la **mediana**.

  * Las medidas de dispersión nos dicen la variabilidad que hay en los datos. Son la **desviación estándar**, la **varianza**, el **rango** y el **rango intercuartil**.

In [11]:
# Obtener un resumen de las columnas numéricas. Método
# Similar al summary() en R
credit.describe()

,Income,Limit,Rating,Cards,Age,Education,Balance
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,45.218885,4735.600000,354.940000,2.957500,55.667500,13.450000,520.015000
std,35.244273,2308.198848,154.724143,1.371275,17.249807,3.125207,459.758877
min,10.354000,855.000000,93.000000,1.000000,23.000000,5.000000,0.000000
25%,21.007250,3088.000000,247.250000,2.000000,41.750000,11.000000,68.750000
50%,33.115500,4622.500000,344.000000,3.000000,56.000000,14.000000,459.500000
75%,57.470750,5872.750000,437.250000,4.000000,70.000000,16.000000,863.000000
max,186.634000,13913.000000,982.000000,9.000000,98.000000,20.000000,1999.000000

* El método **`describe`** nos ayuda a sacar estadísticas sobre todas las variables (columnas) numéricas de la tabla. Los estadísticos que obtenemos son:
  * El número de observaciones (renglones no vacíos)
  * La media y desviación estándar.
  * Los percentiles 25, 50 (mediana), 75.
  * Valores máximo y mínimo.

* Estas métricas las podemos calcular individualmente para cada columna e incluso podemos aplicarlos a un subconjunto de la tabla (aplicando filtros).

## Matriz de correlación.

* Cuando trabajamos con varias variables numéricas, nos interesa saber si hay un tipo de **relación entre ellas**. 

* Una métrica para esta relación es la **correlación de Pearson**. 

* La correlación va de `-1` a `1`. 
  * El valor de 1 significa que las dos variables tienen una *relación lineal* perfecta. Cuando una variable crece, la otra también.

  * El valor de -1 significa que las dos variables tienen una *relación lineal negativa* perfecta. Mientras una variable crece, la otra disminuye.

  * El valor de 0 significa que no hay *relación lineal* entre las variables. No significa que no haya una relación entre las variables. 

* En Pandas, podemos calcular la correlación de Pearson con el método `.corr()`

In [ ]:
credit.corr()

* La matriz de correlación es **cuadrada y simétrica**, tiene el mismo número de columnas que renglones. 

* Cada celda representa la intersección de dos variables, y el contenido representa el valor de la correlación. 

* Una variable siempre tiene una correlación de 1 consigo misma.

## Estadísticas de variables categóricas

* Para las columnas que no sean numéricas, el método **`describe`** no nos brinda ningún tipo de resumen. 

* Una **variable categórica** es una variable que puede tomar uno de un número limitado, y por lo general fijo, de posibles valores. 

* Una de las principales operaciones que podemos realizar con estas variabels es contar cuántas apariciones tiene cada uno de los diferentes valores o *niveles*.

* El método `.value_counts()` cuenta el número de apariciones que tiene cada elemento distinto de una columna o una variable.

In [ ]:
# La columnas "Gender", "Student", "Married" y "Ethnicity" son cualitativas o categóricas.
credit['Gender'].value_counts()

In [ ]:
credit['Student'].value_counts()

* La mayoría de los clientes son mujeres.

* Al valor que más se repite en una columna o variable se le conoce como **moda**.

* Para obtener los distintos elementos que hay en una columna categórica utilizamos el método unique.

In [ ]:
# Obtener los niveles o valores distintos de la columna quality
credit['Ethnicity'].unique()

In [ ]:
# Si los queremos ordenados, podemos agregar usar la función sort de numpy
np.sort(credit['Ethnicity'].unique())

Cuando queremos comparar el número de observaciones (renglones) entre **dos variables cualitativas**, generamos una tabla de contingencia con `pd.crosstab()`

In [ ]:
# Ver cuántas personas están casadas y cuál es su género.
pd.crosstab(credit['Married'],credit['Gender'])

 ## Estadísticas y agrupaciones.
 
* Hay ocaciones en las que nos interesa obtener estadísticos para **diferentes grupos** o separaciones. 

* Retomando el ejemplo anterior, quizás nos interese conocer el nivel de alcohol promedio **dependiendo** de la calidad del vino. 

* Esto nos ayudará a comparar esta característica (nivel de alcohol) para diferentes *niveles* de una variable categórica (calidad). 

* Esto lo podemos hacer con el método `groupby()` de un data frame:

```python
df.groupby(['Variables','agrupadoras']).metrica()[['Columna calculada']]
```

In [ ]:
credit.head()

In [ ]:
# Calcular el límite de crédito promedio dependiendo si la persona es estudiante o no
credit.groupby('Student').mean()[['Limit']]

* Lo que va adentro del `groupby` son las columnas agrupadoras. 

* Es decir, vamos a dividir la tabla grupos definidos por la combinación de los diferentes valores de las columnas agrupadoras.

* Puede ser una o varias.

In [ ]:
# Calcular el ingreso promedio por etnicidad y si la persona es estudiante o no
# Como son dos variables, utilizamos los brackets para hacer una lista
credit.groupby(['Ethnicity', 'Student']).mean()[['Income']]

* El método de *métrica* puede ser cualquiera de los estadísticos que vimos anteriormente (min, max, sum, count, mean, median, std, var).

In [ ]:
# Calcular la edad máxima por grupo étnico, estado civil y género
credit.groupby(['Ethnicity','Married', 'Gender']).max()[['Age']]

In [ ]:
# Contar cuántos clientes por género y si es estudiante.
# NOTA: Cuando queremos contar, no importa qué columna seleccionemos para calcular. Sólo tenemos que tener
# cuidado que que no tenga CELDAS VACÍAS.
credit.groupby(['Gender', 'Student']).count()[['Balance']]

 - La columna que está entre brackets es sobre la que queremos hacer la operación.

 - También puede ser más de una columna.

In [ ]:
# Calcular la calificación crediticia y límite promedios por etnicidad y estado civil
credit.groupby(['Ethnicity', 'Married']).mean()[['Rating', 'Limit']]

* También podemos calcular dos estadísticos a la vez usando el método `agg`

In [ ]:
# Calcular número mínimo y máximo de tarjetas de crédito  y edad por etnicidad y género
credit.groupby(['Ethnicity', 'Gender']).agg(['min', 'max'])[['Cards', 'Age']]

# Actividad

- **Nombre**: 
- **Matrícula**: 

# Entregar 
Archivo PDF de la actividad y la liga de la actividad en su repostitorio.

# Nota: 
Todas las tareas entregadas fuera de la fecha limite se califican sobre 50 de los 100 puntos posibles.

# Insurance dataset

El dataset contiene información demográfica sobre los asegurado en una compañía de seguros:

- age: edad del asegurado principal
- sex: género del asegurado. female o male
- bmi: índice de masa corporal
- children: numero de niños que estan cubiertos con la poliza. 
- smoke: si fuma el beneficiario. yes/no
- region: dónde vive el beneficiario. Estos datos son de Estados Unidos. Regiones disponibles: northeast, southeast, southwest, northwest
- charges: costo del seguro.

# Actividad
Carga el dataset  **`data/insurance.csv`** y haz un análisis estadístico de las variables.

In [ ]:
# Carga las librerías necesarias

In [ ]:
# Carga los datos y muestra los primeros renglones

In [ ]:
# Crea una tabla resumen con los estadísticos generales de las variables numéricas

In [ ]:
# ¿Cómo se correlacionan las variables numéricas entre sí?

In [ ]:
# ¿Cuántas asegurados son hombres y cuántas son mujeres?

In [ ]:
# ¿Cuántos hombres y mujeres asegurados viven en cada región?

In [ ]:
# En promedio, ¿quién paga más de cuota de seguro, los fumadores o no fumadores? Muéstralo con los datos

In [ ]:
# ¿Cuáles son los cargos mínimos y máximos que las personas pagan dependiendo del género y del número de hijos?

In [ ]:
# ¿Cuál es el índice de masa corporal promedio para hombres y mujeres, dependiendo de la región en donde viven
# y si son fumadores? ¿Impacta esto en la tarifa del seguro?